# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Software Development With Intelij Ide\CodeForcesSolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
